.clangd/
lib/libmlx-linux/libmlx.a
lib/libmlx-linux/mlx_clear_window.o
lib/libmlx-linux/mlx_destroy_image.o
lib/libmlx-linux/mlx_destroy_window.o
lib/libmlx-linux/mlx_expose_hook.o
lib/libmlx-linux/mlx_flush_event.o
lib/libmlx-linux/mlx_get_color_value.o
lib/libmlx-linux/mlx_get_data_addr.o
lib/libmlx-linux/mlx_hook.o
lib/libmlx-linux/mlx_init.o
lib/libmlx-linux/mlx_int_anti_resize_win.o
lib/libmlx-linux/mlx_int_do_nothing.o
lib/libmlx-linux/mlx_int_get_visual.o
lib/libmlx-linux/mlx_int_param_event.o
lib/libmlx-linux/mlx_int_set_win_event_mask.o
lib/libmlx-linux/mlx_int_str_to_wordtab.o
lib/libmlx-linux/mlx_int_wait_first_expose.o
lib/libmlx-linux/mlx_key_hook.o
lib/libmlx-linux/mlx_loop.o
lib/libmlx-linux/mlx_loop_hook.o
lib/libmlx-linux/mlx_mouse_hook.o
lib/libmlx-linux/mlx_new_image.o
lib/libmlx-linux/mlx_new_window.o
lib/libmlx-linux/mlx_pixel_put.o
lib/libmlx-linux/mlx_png.o
lib/libmlx-linux/mlx_put_image_to_window.o
lib/libmlx-linux/mlx_rgb.o
lib/libmlx-linux/mlx_string_put.o
lib/libmlx-linux/mlx_xpm.o
lib/libmlx-linux/test/main.o
lib/libmlx-linux/test/mlx-test
miniRT
obj/
