.clangd/
lib/libft/libft.a
lib/libft/obj/
lib/libgnl/libgnl.a
lib/libgnl/obj/
lib/libmlx/interface.o
lib/libmlx/libmlx.dylib
lib/libmlx/mlx_image.o
lib/libmlx/mlx_image.swiftdoc
lib/libmlx/mlx_image.swiftmodule
lib/libmlx/mlx_init.o
lib/libmlx/mlx_init.swiftdoc
lib/libmlx/mlx_init.swiftmodule
lib/libmlx/mlx_png.o
lib/libmlx/mlx_string_put.o
lib/libmlx/mlx_window.o
lib/libmlx/mlx_window.swiftdoc
lib/libmlx/mlx_window.swiftmodule
lib/libmlx/mlx_xpm.o
libmlx.dylib
miniRT
obj/
