[submodule "lib/libft"]
	path = lib/libft
	url = git@gitlab.com:NekoNoor/libft.git
[submodule "lib/libgnl"]
	path = lib/libgnl
	url = git@gitlab.com:NekoNoor/get_next_line.git
[submodule "lib/libftprintf"]
	path = lib/libftprintf
	url = git@gitlab.com:NekoNoor/ft_printf.git
